.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
  }
  
  .landing-container p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  .btn-primary {
    text-decoration: none;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
  }
  